<!DOCTYPE html>
<html>
<head>
    
    <title>신규 메인 페이지</title>
</head>
<body>
<h1> 여기는 신규메인페이지 입니다.</h1>
<nav>
    
    <a href="/main">홈</a> <br/>
    <a href="/auth/login">로그인</a><br/>
    <a href="/member/entry">회원가입</a><br/>
    <a href="/auth/logout">로그아웃</a><br/>
    <a href="/goods/special">스페셜 제품품목</a><br/>
    <a href="/contact">연락처</a><br/>
    <a href="/company">회사소개</a><br/>
    <a href="/welcome">대표인사말</a><br/>
</nav>


</html>