<!DOCTYPE html>
<html>
  <head>
    <title> 메인 페이지</title>
   
  </head>
  <body>
    <h1>로그인 페이지 입니다.</h1>
    <p>Welcome to ㅎㅎ </p>
    <a href="/admin/list">관리자 정보 목록</a>
    <a href="/article/list">게시글 목록</a>
    <a href="/member/list">사용자 정보 목록</a>
    <a href="/channel/list">채팅방 목록</a>
    <a href="/message/list">채팅매세지 이력 목록</a>
  </body>
</html>
