<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>관리자 정보 목록입니다.</title>
</head>
<body>
    <h1> 사용자 정보</h1>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>생년월일</th>
                <th>전화번호</th>
                <th>주소</th>
                </tr>
        </thead>

        <tbody>

           
                <tr>

                    <td>이환영</td>
                    <td>001208</td>
                    <td>01049975826</td>
                    <td>경기도</td>
                    
                </tr>
        

        </tbody>

        <tfoot>
        </tfoot>
    </table>
    <a href="/">메인페이지 이동</a>
    <a href="/admin/create"> 신규 관리자 등록</a>
    <a href="/admin/modify">관리자 정보 수정</a>
    <a href="/admin/delete">관리자 정보 삭제</a>
</body>
</html>