<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자정보 수정</title>
</head>
<body>
    <h1> 관리자 정보 수정</h1>
    <a href="/admin/list">목록 이동</a>
</body>
</html>