<!DOCTYPE html>
<html>
<head>
    <title>회원가입 페이지</title>
</head>
<body>
    <h1> 회원가입 페이지</h1>
<!--     
        form태그의 목적은 사용자로부터 데이터를 입력받아 서버로 전송해주는 역할 제공
        form 태그의 주요속성으로는 action(폼태그내 사용자가 입력한 데이터를 어디로 보낼지 주소), 
        method(웹브라우저/클라이언트 에서 서버로 요청하는 방식(get,post,.....) 가있다. -->
    <form action ="/member/entry" method="post" onsubmit="return fnFormCheck()">
<!-- 
        input 요소의 name 속성에 지정된 값은 백엔드 라우팅 메소드에서 \
        req.body.ui 요소의 네임값으로 사용되어 사용자 입력한 해당html 요소의 값을 백엔드에서 
        추출할수 있게 도와줌 -->
        
        
        메일주소:<input type="text" name="email" id="email" value=""><br/>
        
        
        암호:<input type="password" name="password" id="password"><br/>
        
        
        이름 :<input type="text" name="name" id="name"><br/>
        
        
        전화번호:<input type="text" name="phonenumber" id="phonenumber"><br/>
        
        <!-- 회원가입 서브밋 버튼이 클릭되면 form태그 이벤트 중에 onsubmit() 이벤트가발생한다-->
        <input type ="submit" value="회원가입"/ >
    </form>
<script>
    
    //폼사용자 입력값 유효성 검사 체크함수
    function fnFormCheck(){
        if(document.getElementById("email").value ==""){
            alert("메일주소를 입력해주세요")
            document.getElementById("email").focus()
            return false
        }
        if(document.getElementById("password").value ==""){
            alert("암호를 입력해주세요")
            document.getElementById("password").focus()
            return false
        }
        if(document.getElementById("name").value ==""){
            alert("이름을 입력해 주세요")
            document.getElementById("name").focus()
            return false}
            
            
        if(document.getElementById("phonenumber").value ==""){
            alert("전화번호를 입력해주세요")
            document.getElementById("phonenumber").focus()
            return false}
        return true

    }
</script>


    
    
</body>