<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방 삭제.</title>
</head>
<body>
    <a href="/channel/list">목록 이동</a>
</body>
</html>