<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 채팅방 목록입니다</title>
</head>
<body>
    <h1>채팅방 목록 입니다. </h1>
    <table>
        <thead>
            <tr>
                <th>채팅방 이름</th>
                <th>인원수</th>
                <th> 방장 </th>
                </tr>
        </thead>

        <tbody>

           
                <tr>

                    <td>히히</td>
                    <td>39</td>
                    <td>이환영</td>
                    
                </tr>
        

        </tbody>

        <tfoot>
        </tfoot>
    </table>
    <a href="/">메인페이지 이동</a>
    <a href="/channel/create">채팅방 생성</a>
    <a href="/channel/modify">채팅방 설정/변경페이지</a>
    <a href="/channel/delete">채팅방 삭제</a>
</body>
</html>