<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 정보 생성</title>
</head>
<body>
    <h1>사용자 정보 생성 페이지입니다.</h1>
    <form action="/member/create" method="post">
        이름:<input type="text" name="userId" /> <br/>
        번호:<input type="text" name="userPassword" /> <br/>
        
        <input type="submit" value="저장" />

    <a href="/member/list">목록 이동</a>
</body>
</html>