<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 정보
    </title>
</head>
<body>
    <h1>사용자 정보 입니다. </h1>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>생년월일</th>
                <th>번호</th>
                <th>주소</th>
                <th>mbti</th>
                </tr>
        </thead>

        <tbody>

           
                <tr>

                    <td>이환영</td>
                    <td>2000-12-08</td>
                    <td>01049975826</td>
                    <td>갱</td>
                    <td>enfp</td>
                </tr>
        

        </tbody>

        <tfoot>
        </tfoot>
    </table>
    <a href="/">메인페이지 이동</a>
    <a href="/member/create">신규 사용자 등록</a>
    <a href="/member/modify">사용자 정보 수정</a>
    <a href="/member/delete">사용자 정보 삭제</a>
</body>
</html>