<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
</head>
<body>
    <h1>게시글 작성 페이지 입니다.</h1>
    <a href="/article/list">목록 이동</a>
</body>
</html>