<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article/list
    </title>
</head>
<body>
    <h1>게시글 목록 입니다. </h1>
    <a href="/article/create">신규 게시글 작성</a>
    <table>
        <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>시간</th>
                </tr>
        </thead>

        <tbody>

           
                <tr>

                    <td>1</td>
                    <td>하하</td>
                    <td>이환영</td>
                    <td>2023-12-05</td>
                    
                </tr>
        

        </tbody>

        <tfoot>
        </tfoot>
    </table>
    <a href="/">메인페이지 이동</a>
    <a href="/article/modify">게시글 수정</a>
    <a href="/article/delete">게시글 삭제</a>
</body>
</html>