<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1> 게시글 수정/삭제
        <a href="/article/list">목록 이동</a>
    </h1>
</body>
</html>