<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅메시지 이력 삭제 페이지</title>
</head>
<body>
    <h1>채팅메시지 이력 삭제 페이지 입니다.</h1>
    <a href="/message/list">목록 이동</a>
</body>
</html>