<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article/list
    </title>
</head>
<body>
    <h1>채팅 메세지 이력입니다. </h1>
    <table>
        <thead>
            <tr>
                <th>채팅방</th>
                <th>내용</th>
                <th>작성자</th>
                <th>시간</th>
                </tr>
        </thead>

        <tbody>

           
                <tr>

                    <td>하하</td>
                    <td>ㅋㅋ</td>
                    <td>이환영</td>
                    <td>2023-12-05 18:30</td>
                    
                </tr>
        

        </tbody>

        <tfoot>
        </tfoot>
    </table>
    <a href="/">메인페이지 이동</a>
    <a href="/message/create">신규 채팅매세지 이력생성 </a>
    <a href="/message/modify"> 채팅매세지 이력 수정</a>
    <a href="/message/delete">채팅매세지 이력 삭제</a>
</body>
</html>